In [12]:
from rijks import rijks_find_results
from met import met_find_results
from tate import tate_find_results

import pandas as pd
import nest_asyncio
import asyncio

nest_asyncio.apply()

from IPython.display import FileLink

In [13]:
from utils import make_df

tate_df = make_df("C:\\Users\\momande\\collection\\artworks")

In [14]:
query = "slave"

results = rijks_find_results(query, lang="en")

df = pd.json_normalize(results)
df.to_csv(f'rijks_data_{query}.csv', sep=";")

FileLink(f'rijks_data_{query}.csv')

Found 178 results.

/Users/lauri/museum-data-ikm/rijks_data_slave.csv

In [15]:
query = "slave"

results = asyncio.run(met_find_results(query))

df = pd.json_normalize(results)
df.to_csv(f'met_data_{query}.csv', sep=";")

FileLink(f'met_data_{query}.csv')

Found 511 results.
Attempted to query https://collectionapi.metmuseum.org/public/collection/v1/objects/21125.
The API could not find the object with ID 21125.
Attempted to query https://collectionapi.metmuseum.org/public/collection/v1/objects/318430.
The API could not find the object with ID 318430.

/Users/lauri/museum-data-ikm/met_data_slave.csv

In [16]:
query = "slave"

# results = tate_find_results(tate_df, query, ["title", "classification"])
results = tate_find_results(tate_df, query)

results.to_csv(f'tate_data_{query}.csv', sep=";")

FileLink(f'tate_data_{query}.csv')

Found 48 results.

/Users/lauri/museum-data-ikm/tate_data_slave.csv