In [19]:
from src.rijks import rijks_find_results
from src.met import met_find_results
from src.tate import tate_find_results
from src.smk import smk_find_results

import os
import pandas as pd
import nest_asyncio
import asyncio

nest_asyncio.apply()

from IPython.display import FileLink

In [20]:
# from src.utils import make_df

# tate_df = make_df(os.path.join("collection", "artworks"))

# Rijksmuseum

In [21]:
query = "slave"

results = rijks_find_results(query, lang="en")

df = pd.json_normalize(results)
df.to_csv(f"rijks_data_{query}.csv", sep=";")

FileLink(f"rijks_data_{query}.csv")

Found 179 results. Collecting object numbers. This may take a while, if there are a lot of results.

/Users/lauri/museum-data-ikm/rijks_data_slave.csv

# Met

In [22]:
query = "slave"

results = asyncio.run(met_find_results(query))

df = pd.json_normalize(results)
df.to_csv(f'met_data_{query}.csv', sep=";")

FileLink(f'met_data_{query}.csv')

Found 517 results.
Attempted to query https://collectionapi.metmuseum.org/public/collection/v1/objects/21125.
The API could not find the object with ID 21125.
Attempted to query https://collectionapi.metmuseum.org/public/collection/v1/objects/318430.
The API could not find the object with ID 318430.

/Users/lauri/museum-data-ikm/met_data_slave.csv

# SMK

In [37]:
query = "green"

results = smk_find_results(query, lang="en")
df = pd.json_normalize(results)

for x in [
    "object_names",
    "documentation",
    "production",
    "production_date",
    "titles",
    "inscriptions",
]:
    df_ext = pd.json_normalize(df[x].str[0].tolist()).add_prefix(f"{x}.")
    df = pd.concat([df, df_ext], axis=1)

df.to_csv(f"smk_data_{query}.csv", sep=";", encoding="utf-8-sig", index=False)

FileLink(f"smk_data_{query}.csv")

Found 2541 objects.

/Users/lauri/museum-data-ikm/smk_data_green.csv

# Tate

In [ ]:
# query = "slave"

# results = tate_find_results(tate_df, query, ["title", "classification"])
# results = tate_find_results(tate_df, query)

# results.to_csv(f'tate_data_{query}.csv', sep=";")

# FileLink(f'tate_data_{query}.csv')